<h1>Model-T</h1>

<h2>What is it?</h2>

BrewBit Model-T is an open source <strong>WiFi enabled temperature controller</strong> specifically crafted with the homebrewer in mind.  It takes homebrewing to the next level giving you ultimate control over your brewing, any time any where.

Its hardware and software are <strong>open source</strong> so you can hack it and modify it all you want to meet the needs of your brew system, fermentation system or any other project that requires precise control of temperature.

<h2>How can it help me make better beer?</h2>

Temperature control is often overlooked by many homebrewers, but is actually one of the easiest things you can do to make professional quality beer.

The Model-T will help you keep your fermentation and mash temperatures where you want them to be. Resulting in beer that you can be proud of!

<h2>I'm not a brewer, why do I want one?</h2>

The device is currently marketed towards brewers but can be used to control power to any electronic device from the unit itself or through <a href='http://brewbit.com'>BrewBit.com</a>.  You do not have to use the temperature probe to control the outputs if you don't want. You can have the outputs turn on and off manually via your command, or even based on time of day etc...  With our <strong>open source hardware and software</strong> architecture the device is extremely hack-able, making the possibilities endless.

Some of the cool non-brewing project ideas that we thought of, several that we have even tried, are:

<ul>
  <li>Solder re-flow oven controller using a toaster oven or hot plate.</li>
  <li>Fish tank heating/cooling controller.</li>
  <li>Reptile terrarium heating controller.</li>
  <li>Control a Crockpot, BBQ, oven, or even a George Foreman grill, helping you cook your meats to perfection.</li>
  <li>Make your own electronic meat smoker.</li>
  <li>Make your own Sous Vide machine.</li>
  <li>Control fans and AC units in your house, workshop etc.</li>
</ul>

<h2>What can it do?</h2>

<ul>
  <li>Sample Temperature Profile</li>
  <li>Dual outputs - control multiple devices with a single Model-T</li>
  <li>Dual temperature probes - control one or both outputs independently</li>
  <li>Supports Wall Mounting</li>
  <li>Supports Panel Mounting</li>
</ul>

<h2>How does it compare?</h2>


