<div class="row">
	<div class="col-md-12">
		<div id="tagline" class="row text-center">
			<div class="col-md-12">
				Go Forth & Brew Better Beer!
			</div>
		</div>
		<div class="row">
		    <div class="col-md-8 col-md-push-4">
				<%= image_tag 'store/model-t-render.png', class: 'img-responsive center-block' %>
		    </div>
			<div class="col-md-3 col-md-pull-8 col-md-offset-1">
				<%= image_tag 'store/pricing_message.png', id: 'pricing', class: 'center-block' %>
				<%= link_to 'Order Now!', spree.products_path, id: 'hero-order', class: 'btn btn-primary btn-lg center-block' %>
		    </div>
		</div>
	</div>
</div>
