<div class="hero-unit row">
    <div id="call-to-action" class="five columns">
      <%= image_tag 'store/pricing_message.png', id: 'pricing' %>
      <%= link_to 'Pre-Order Now!', spree.products_path, id: 'pre-order', class: 'btn' %>
    </div>
</div>

