<div id="home-content" class="container">
	<%= render "hero" %>
	
	<hr />
	<%= render :partial => 'spree/shared/mailing_list_signup' %>
	<hr />
	
	<div class="row text-center">
		<div class="col-md-4">
			<h2>What is BrewBit?</h2>
			BrewBit is a system of Internet-connected devices that integrate with mobile and online services to track, analyze and provide customized feedback for all your brewing needs.
		</div>
		<div class="col-md-4">
			<h2>Model-T</h2>
			Model-T is a wireless temperature controller, which can track up to two separate temperature streams and control up to two devices, independently of each other; all the while logging temperature data.
		</div>
		<div class="col-md-4">
			<h2>Why BrewBit?</h2>
			We got frustrated with a lack of good tools to continuously monitor and control the brewing process, so we decided to build some.
		</div>
	</div>
</div>